/* NOTE!!! Add comments at the end of each line of code you add or change,
 indicate why you made the addition/change and/or the specific accessibility
 issue you are trying to address */ 

body {
    font-family: Arial, sans-serif;
    color: black; /* Increased contrast for readability */
    background-color: #ccc;
	border: solid 5px;
	margin: 100px;
}

header {
	text-align: center;
	background-color: #333;
	color: white;
	padding: 10px 0;
}
h1 {
    font-size: 3em; /* Enlarged font size */
}

a {
    color: lightblue; /* Changed to better contrasting color */
    padding: 1rem;
}

a:hover {
    color: green; /* Made a higher contrast hover color */
}

form {
    color: #000;
}

input[type="submit"] {
    background-color: rgb(52, 51, 51);
    color: white;
    border: none;
}

button {
    cursor: pointer;
    font-size: 2em; /* Small font size */
}

/* Missing focus styles for interactive elements */
a:focus, button:focus, input:focus {
    /*Changed to orangered as contast to the gray background*/
    color: orangered;
    border: orangered, solid, 3px;
    padding: 2px;
}
/*added skip for skip buttons to main content page*/
.skip {
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus{
    position:static;
    width: auto;
    height: auto;
}

#robot {
    float: right;
    border-radius: 3%;
    border-color:#000;
    border: 2px;
}
